@charset "UTF-8";
.html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: #ffffff;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flexbox {
  display: flex;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
}

.\visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Эффективные решения для вашего бизнеса*/
/*solution-section (button)*/
.solution__btn-primary {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  border: 1px solid transparent;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1 solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  padding: 6px;
  text-decoration: none;
  cursor: pointer;
}

.close-btn__icon {
  fill: #000000;
}

.close-btn:hover .close-btn__icon,
.close-btn:focus .close-btn__icon {
  fill: #2196f3;
}

/*menu-section (buttons)*/
.menu_btn-secondary {
  display: block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.62;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu_btn-secondary:hover,
.menu_btn-secondary:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* оформление кнопки в footer */
.footer-form__btn-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  margin-left: 12px;
  color: #ffffff;
  background-color: #2196f3;
  border: 0;
  border-radius: 4px;
}

.btn-footer::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  background-image: url(../images/icons/send.svg);
  background-size: contain;
}

/* Оформление кнопки btn-form form__btn-form */
.form__btn-form {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-width: 0;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.form__btn-form:hover,
.form__btn-form:focus {
  background-color: #188CE8;
}

/*contact*/
.contact {
  margin-left: auto;
}

.contact__item + .contact__item {
  margin-left: 50px;
}

.contact__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
  color: #2196f3;
}

.contact__mail-icon,
.contact__phone-icon {
  fill: #757575;
  margin-right: 10px;
}

/* Оформление соцсетей (footer) */
.box-socseti {
  display: block;
}

.box-socseti__title {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03;
  text-transform: uppercase;
  text-align: left;
}

.socseti {
  margin-top: 20px;
  justify-content: flex-start;
}

.socseti__item:not(:last-child) {
  margin-right: 10px;
}

.socseti__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socseti__link:hover,
.socseti__link:focus {
  background-color: #2196f3;
}

/*main*/
.social {
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__item {
  margin-bottom: 30px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  background-color: #2196f3;
}

.socseti__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.socseti__link:hover .socseti__icon,
.socseti__link:focus .socseti__icon {
  fill: #ffffff;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: translate(-50% -50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*оформление модального окна*/
/* Стилизация form */
/* заголовок form */
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-top: 0;
  margin-bottom: 12px;
}

/*оформление данных (form) */
.form__label {
  display: block;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__input {
  display: block;
  margin-top: 4px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form__input:focus {
  border-color: #2196f3;
}

.form__input:focus + .icon-form {
  fill: #2196f3;
}

.icon-form {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* оформление коментария(form) */
.form__comment {
  display: block;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.form__textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/*оформление чекбоксов (form) */
.checkbox {
  display: block;
  margin-top: 20px;
}

.form__icon {
  content: '';
  margin-left: 12px;
  margin-right: 5px;
  display: inline-block;
  width: 16px;
  height: 15px;
  vertical-align: middle;
  border: 2px solid #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__custom:checked + .form__icon {
  background-color: #2f303a;
  border-radius: 2px;
  border-color: #2196f3;
  background-image: url(../images/icons/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.form__custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__link {
  color: #2196f3;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 0.85;
}

.solution {
  padding-top: 200px;
  padding-bottom: 200px;
  /* height: 600px; */
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/solution-section/img/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.solution-container {
  min-width: 696px;
  height: auto;
  margin: 0 auto;
  border: 1px solid transparent;
  border-image: url(../images/solution-section/img/fon.jpg);
}

.solution__title {
  margin: 0;
  margin-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.features {
  text-align: center;
}

.features {
  flex-wrap: wrap;
  margin-right: -30px;
}

.featureses__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.featureses__item:last-child {
  margin-right: 0px;
}

.featureses__title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

.featureses__text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.featureses__featured {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border: 1px solid #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.featureses__icon-antenna,
.featureses__icon-clock,
.featureses__icon-diagram,
.featureses__icon-astronaut {
  width: 70px;
  height: 70px;
  fill: #212121;
}

.work {
  padding-top: 0;
  text-align: center;
}

.work__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.works {
  flex-wrap: wrap;
}

.works__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.works__item:nth-child(3n) {
  margin-right: 0px;
}

.works__thumb {
  position: relative;
  margin: 0;
}

.works__thumb > .works__label {
  /* position: absolute;
  left: 0;
  bottom: 0;

  width: 370px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 224px;
  margin-bottom: 0;
  padding: 0;  */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 88%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.64;
  letter-spacing: 0.003em;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  text-align: center;
}

.our-team__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.our-teams {
  flex-wrap: wrap;
}

.our-teams__item {
  width: calc(100% - 90px)/4;
  margin-right: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-teams__item:nth-child(4n) {
  margin-right: 0px;
}

.our-teams__title {
  margin-top: 30px;
  margin-bottom: 0px;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.our-teams__text {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.costumers {
  padding-bottom: 151px;
}

.costumers__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.costumeres {
  justify-content: center;
  flex-wrap: wrap;
}

.costumeres__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.costumeres__item {
  width: calc((100%-150px)/6);
  margin-right: 30px;
}

.costumeres__item:last-child {
  margin-right: 0;
}

.costumeres__icon {
  fill: #AFB1B8;
}

.costumeres__link:hover .costumeres__icon,
.costumeres__link:focus .costumeres__icon {
  fill: #2196f3;
}

.costumeres__link:hover,
.costumeres__link:focus {
  border: 1px solid #2196f3;
}
/*# sourceMappingURL=main.css.map */