.costumer {
  padding-bottom: 151px;

}

.costumer__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: $title-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  text-align: center;  
}

.costumers {
  margin: 0;
  padding: 0;
  justify-content: center;
}

.costumers__link {
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid $link-color;
  border-radius: 4px;

  transition: opacity 250ms $transition-time;
}

.costumers__item {
  width: calc((100%-150px)/6);
  margin-right: 30px;
}

.costumers__item:last-child {
  margin-right: 0;
}

.costumers__link {
  fill: $link-color; 
}

.costumers__link:hover .costumers__icon,
.costumers__link:focus .costumers__icon {
  fill: $primary-bg-color;
}

.costumers__link:hover, 
.costumers__link:focus {  
  border: 1px solid $primary-bg-color;
}