.our-team {
  text-align: center;
}

.our-team__title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.ours-teams {
  flex-wrap: wrap;
}

.ours-teams__item {
  width: calc(100% - 90px) / 4;
  margin-right: 30px;

  background-color: $text-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
}

.ours-teams__item:nth-child(4n) {
  margin-right: 0px;
}

.ours-teams__title {
  margin-top: 30px;
  margin-bottom: 0px;

  color: $title-text-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.ours-teams__text {
  margin-top: 10px;
  margin-bottom: 30px;
  color: $primary-text-color;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}