.contact-header {
  padding: 0;
  margin-left: 0;
}

.contact__item+.contact__item {
  margin-left: 50px;
}

.contact__link {
  color: $primary-text-color;


  &:hover,
  &:focus {
  color: $accent-color;
  }
}

.contact__mail-icon,
.contact__phone-icon {
  fill: $primary-text-color;

  margin-right: 10px;
}

.footer-content {
  align-items: baseline;
}

.box-footer:not(:last-child) {
  margin-right: 70px;
}

.location-footer {
  margin-top: 20px;

  flex-direction: column;
  justify-content: flex-end; 
}

.location-footer__text,
.location-footer__link{
  margin-top: 0;
  margin-bottom: 9px;
  color: $text-color;

  line-height: 1.71;
  text-decoration: none;
}

.location-footer__link {
  color: $footer-text-color;

  transition: opacity 250ms $transition-time;
}

.location-footer__link:last-child {
  margin-bottom: 0;
}