.page {
  color: $primary-text-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: $text-color;
}

.page-nav {
  align-items: center;
  justify-content: space-between;
}