.socseti__icon {
  width: 20px;
  height: 20px;
  fill: $text-color;
}

.socseti__link:hover .socseti__icon,
.socseti__link:focus .socseti__icon{
  fill: $text-color;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: $link-color;
}

.social__link:hover .social__icon,
  .social__link:focus .social__icon{
      fill: $text-color;
  }