.html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flexbox {
  display: flex;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.text{
  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
}

.\visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}